@{
    ViewData["Title"] = "Home - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>Patrick Napper Portfolio</title>
</head>
<body>
    <h2>About Me</h2>
        <h5>For the past 9 months I have been a student at Epicodus where I have learned how to create web applications in various languages including Javascript, C#, 
        Angular and .NET. It's been exciting to not only learn to code in these languages but to pair program every 
        day with a new partner as well as working on larger team projects to achieve more ambitious goals. 
        The amount of information presented each week in class seemed daunting at first but by week's end I was amazed 
        at how much I retained. In addition I am learning how to learn and think like a programmer and where and how to 
        search to find answers.
        <br>
        <br>
        In addition to my new programming skills I am a professional audio production specialist with 10+ years experience in recording, composition, mixing and mastering. I have written and produced music for major clients around the globe such as the BBC, MTV and Samsung.

        Most recently I have been a freelance composer and content provider for Big Idea Music, a Seattle based production music library. In this role I compose and produce albums of music in various contemporary styles for placement in advertisements, television shows, web content, corporate video and film. Recent placements include advertisements for the Samsung Galaxy S6, Hyundai, Seattle Mariners, and MTV’s “Are You The One”.

        Colleagues know me as being well organized, reliable and creative in both my work and my problem solving. I can (and often do) work on projects alone but I am equally at home when working with or leading a team. In the sometimes challenging and subjective field of music production, I have the communication skills and patience required to ascertain what the client’s needs are and to exceed their expectations.

        I earned a certificate in audio production from the University of Washington. 

        I am currently freelancing while I pursue new opportunities and I can be reached through this profile or by phone at 206-229-3453.   

        Specialties: Composer in a wide variety of styles, fluent in contemporary production techniques, adaptable to film, television, radio and the internet.</h5>

         <a href="@Url.Action("Index", "Blog") "class="btn btn-info"">Blog Posts</a> 
</body>
</html>