@{
    ViewData["Title"] = "Resume - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<hr />

<html>
  <head>
    <title>Resume</title>
  </head>
  <body>      
      <div class="resume">
        <h2>Resume</h2>
        <hr />
        <img src="images/NapperResume.jpg" alt="Napper Resume" height="800px" />
      </div>
  </body>
</html>