@{
    ViewData["Title"] = "Resume - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
body {
    background-image: url("../images/ResumeBackground.jpg");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right right;
    margin-bottom: 100px;
}
h2 {
    color: black;
}
</style>
    
<hr />
<hr />

<html>
  <head>
    <title>Resume</title>
  </head>
  <body>      
      <div class="resume">
<!--        <h2>Resume</h2>-->
        <hr />
        <img src="images/NapperResume.jpg" alt="Napper Resume" height="800px" />
      </div>
  </body>
</html>